</head>
<body>
  <nav>
      <div class="nav-logo">
        <a href="/">Airy</a>
      </div>
      <div class="nav-links-container">
        <a class="nav-links" href="/flights">All Flights</a>
        <a class="nav-links" href="/flights/new">Add Flight</a>
      </div>
  </nav>